<!-- Custom footer content for Petrafied.ink -->
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3>Petra (they/them)</h3>
      <p>Tattoo Artist at The Painted Lady</p>
      <p>Fort Wayne, Indiana</p>
      <p>
        <a href="mailto:petrafied@thepaintedladyfw.com">
          <i class="fa fa-envelope"></i> petrafied@thepaintedladyfw.com
        </a>
      </p>
    </div>
    <div class="col-md-6">
      <h3>Connect</h3>
      <div class="social-links">
        <a href="https://www.instagram.com/shmegl/" target="_blank" aria-label="Instagram">
          <img src="{{ site.baseurl }}/assets/images/brand_icons/instagram.svg" alt="Instagram" width="30" height="30">
        </a>
        <a href="https://www.tiktok.com/@shmegl" target="_blank" aria-label="TikTok">
          <img src="{{ site.baseurl }}/assets/images/brand_icons/tiktok.svg" alt="TikTok" width="30" height="30">
        </a>
        <a href="https://www.facebook.com/shmeagl" target="_blank" aria-label="Facebook">
          <img src="{{ site.baseurl }}/assets/images/brand_icons/facebook.svg" alt="Facebook" width="30" height="30">
        </a>
        <a href="https://account.venmo.com/u/sikorskip" target="_blank" aria-label="Venmo">
          <img src="{{ site.baseurl }}/assets/images/brand_icons/venmo.svg" alt="Venmo" width="30" height="30">
        </a>
      </div>
      <div class="mt-3">
        <a href="https://cat-bounce.com/" target="_blank" class="btn btn-sm btn-outline-light">Important Website</a>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col text-center">
      <div class="y2k-divider"></div>
      <p class="small">© {{ site.time | date: '%Y' }} Petrafied Ink. All rights reserved.</p>
      <img src="{{ site.baseurl }}/assets/images/gifs/winamp5.gif" alt="Y2K Decoration" class="img-fluid" style="max-height: 40px;">
    </div>
  </div>
</div>
