<!-- Custom navigation for Petrafied.ink -->
<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href="{{ site.baseurl }}/">
      <img src="{{ site.baseurl }}/assets/images/petrafiedlogo_transparent_blk.png" alt="Petrafied Ink" height="40" class="d-inline-block align-top me-2 logo-light">
      <img src="{{ site.baseurl }}/assets/images/petrafiedlogo_transparent_wht.png" alt="Petrafied Ink" height="40" class="d-inline-block align-top me-2 logo-dark">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMain">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}/portfolio">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}/booking">Booking</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://tally.so/r/3yYpJ0" target="_blank">Appointment</a>
        </li>
        <li class="nav-item">
          <div class="theme-switch-wrapper ms-3">
            <label class="theme-switch" for="checkbox">
              <input type="checkbox" id="checkbox" />
              <div class="slider round"></div>
            </label>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
