{% if page.layout != "portfolio" %}
<div class="side-gifs left">
  <img src="{{ site.baseurl }}/assets/images/gifs/hearts.gif" alt="Decorative GIF" class="img-fluid">
  <img src="{{ site.baseurl }}/assets/images/gifs/star109.gif" alt="Decorative GIF" class="img-fluid">
  <img src="{{ site.baseurl }}/assets/images/gifs/cursorheart.gif" alt="Decorative GIF" class="img-fluid">
</div>

<div class="side-gifs right">
  <img src="{{ site.baseurl }}/assets/images/gifs/butterfly.gif" alt="Decorative GIF" class="img-fluid">
  <img src="{{ site.baseurl }}/assets/images/gifs/4everonline.gif" alt="Decorative GIF" class="img-fluid">
  <img src="{{ site.baseurl }}/assets/images/gifs/heartfelt.gif" alt="Decorative GIF" class="img-fluid">
</div>
{% endif %}

<div class="profile-section">
  <img src="{{ site.baseurl }}/assets/images/profile/PrimaryProfile.jpg" alt="Petra" class="profile-image">
  <div class="profile-info">
    <h3>Petra (they/them)</h3>
    <p>Tattoo artist at <a href="https://www.instagram.com/thepaintedladyfw/" target="_blank">The Painted Lady</a> in Fort Wayne, Indiana.</p>
    <p>With 4 years of experience, I specialize in Illustrative, Cybercygilism, and Neo-Traditional tattoo styles.</p>
    <p class="profile-quote"><em>"Spiritually old, mentally unwell"</em></p>
  </div>
</div>

<div class="social-buttons">
  <a href="https://tally.so/r/3yYpJ0" class="social-btn" target="_blank">
    <img src="{{ site.baseurl }}/assets/images/brand_icons/generic-calendar.svg" alt="Calendar">
    Book Appointment
  </a>
  <a href="https://www.instagram.com/shmegl/" class="social-btn" target="_blank">
    <img src="{{ site.baseurl }}/assets/images/brand_icons/instagram.svg" alt="Instagram">
    Instagram
  </a>
  <a href="https://www.tiktok.com/@shmegl" class="social-btn" target="_blank">
    <img src="{{ site.baseurl }}/assets/images/brand_icons/tiktok.svg" alt="TikTok">
    TikTok
  </a>
  <a href="https://www.facebook.com/shmeagl" class="social-btn" target="_blank">
    <img src="{{ site.baseurl }}/assets/images/brand_icons/facebook.svg" alt="Facebook">
    Facebook
  </a>
  <a href="https://account.venmo.com/u/sikorskip" class="social-btn" target="_blank">
    <img src="{{ site.baseurl }}/assets/images/brand_icons/venmo.svg" alt="Venmo">
    Venmo
  </a>
  <a href="mailto:petrafied@thepaintedladyfw.com" class="social-btn">
    <img src="{{ site.baseurl }}/assets/images/brand_icons/email.svg" alt="Email">
    Email Me
  </a>
  <a href="https://maps.app.goo.gl/APDiCzUPpAnmppW98" class="social-btn" target="_blank">
    <img src="{{ site.baseurl }}/assets/images/brand_icons/generic-map.svg" alt="Map">
    Studio Location
  </a>
  <a href="https://cat-bounce.com/" class="social-btn" target="_blank">
    <img src="{{ site.baseurl }}/assets/images/brand_icons/cat.svg" alt="Important">
    Important Website
  </a>
</div>

<div class="y2k-divider"></div>
