/* Drifter Stars Background CSS for Petrafied.ink */

#stars {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  opacity: 0.7; /* Adjust opacity to control how prominent the stars are */
}
